.home-container {
  padding: 24px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
}

.ant-card {
  margin-bottom: 16px;
  width: 75%;
  height: 90%;
}

.ant-statistic-title {
  font-weight: bold;
}

.ant-statistic-value {
  font-size: 24px;
  font-weight: bold;
}

button {
  margin-top: 16px;
}

.ant-row {
  margin-bottom: 24px;
}

.ant-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
  color: #001529;
  border-top: 3px solid #001529 !important;
}

/* Header styles (dark mode) */
body.dark-mode .home-container {
  background-color: #001529;
}

body.dark-mode .divider {
  color: #f0f0f0;
}

body.dark-mode .ant-divider-horizontal.ant-divider-with-text-center::before,
body.dark-mode .ant-divider-horizontal.ant-divider-with-text-center::after {
  color: #f0f0f0;
  border-top: 3px solid #f0f0f0 !important;
}

@media (max-width: 768px) {
  .ant-card {
    width: 100%;
  }

  .ant-row {
    margin-bottom: 16px;
  }
}

@media (max-width: 576px) {
  .home-container {
    padding: 16px;
  }

  .ant-col {
    flex: 0 0 100%;
  }

  .divider {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .ant-card {
    width: 100%;
    height: auto;
  }
}
